<!DOCTYPE html>
<html lang="en">

<head>
    <title> Cheers: NLP Based Beer Recommender System </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3"> <span class="icon-close2 js-menu-toggle"></span> </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="https://www.linkedin.com/in/haydar-evren/" target="_blank" class="nav-link">My LinkedIn</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class=" text-center mx-5">
                        <h1 class="m-0 site-logo"><a href=home>Home</a></h1>
                    </div>
                    <div class="text-left">
                        <nav class="site-navigation position-relative" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="https://github.com/haydarevren" class="nav-link" target="_blank">My Github</a></li>
                            </ul>
                        </nav>
                        <div class="d-inline-block d-lg-none" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
                    </div>
                </div>
            </div>
        </header>

<section class="site-section block__62272">        
    <div class="container"> 
        <div class="col-md-12 mb-4 text-center">
            <img src="../static/cover.jpg" alt="Cover_Picture" class="logo" width="500" height="250" />
        </div>
        <div class="row text-center">
        {% if message %}
            <p class="message">
                <h2>
                    {{ message | safe}} 
                </h2>
            </p> 
        {% endif %}
        </div>

        

        <div class="container">
            <div class="col-lg-12 text-center">
                <p style="text-align:center">
                    <p>
                        To simplify the process of picking a beer, type what you like and we give you a beer recommendation based on your flavor preferences.
                    </p> 
                </p>
            </div>

            <div class="col-lg-12 text-center">
                    <p> 
                        <h2>
                            What to Drink Next?
                        </h2> 
                    </p>
            </div>


            <div class="col-lg-12 text-center">
                <form action="/submit" , method="POST">
                    <div class="form-group">
                        <input type="text" name="form_text" placeholder="fruity, dry, and light on spice. Has a medium body, delicate sweet malt character with a crisp bitter" size="70" /> </div>
    
                    <input type="submit" value="Submit" class="btn" /> 
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>